@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

.Header_main{
    display: flex;
    align-items: center;
    color: white;
    background-color: #0F0F0F;
}
.Header_main.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header is above other content */
}
.Header_left{
    flex: 0.4;
}

.Header_left > h2{
    padding: 15px 0;
    text-align: center;
    letter-spacing: 1px;
}

.Header_right {
    display: flex;
    flex: 0.6;
    align-items: center;
    justify-content: space-evenly;

}

.Header_right >a >h4{
    font-size: 20px;
    cursor: pointer;
    transform: transform 200ms ease-in-out;
    padding: 6px 20px;
    letter-spacing: 1px;
}

.Header_right >a >h4:hover{
    transform: scale(1.09);
    background-color: green;
    padding: 6px 20px;
    border-radius: 3px;
    letter-spacing: 1px;
}


/* Media query for mobile responsiveness */
@media screen and (max-width: 600px) {
    .Header_main {
      flex-direction: column;
      text-align: center;
    }
  
    .Header_left,
    .Header_right {
      flex: initial;
    }
  
    .Header_left > h2 {
      padding-bottom: 0;
    }
  
    .Header_right {
      margin-top: 10px;
    }
  
    .Header_right > a > h4 {
      font-size: 14px; /* Decrease font size for mobile */
    }
  }