.Home_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  background-color: black;
  color: white;
}

.Home_name {
  flex: 0.5;
  max-width: 500px;
  padding-left: 10%; /* Add some spacing between text and image */
  text-align: justify;
}

.profile {
  flex: 0.5;
  max-width: 500px;
  padding-right: -10%;
  text-align: centre; /* Align the image to the right */
}

.profile_img {
  width: 60%; /* Adjust width of image */
  height: auto;
  border-radius: 50%;
  transition: transform 0.2s ease; /* Transition effect */
}

/* Hover effect */
.profile_img:hover {
  transform: scale(1.1); /* Scale up the image on hover */
}

/* Styling for text */
.Home_name h1 {
  font-size: 36px;
  margin: 0;
}

.Home_name h2 {
  font-size: 24px;
  margin: 5px 0;
}

.Home_name p {
  font-size: 18px;
  margin: 10px 0;
}
