@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

.Home_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 170px;
  padding-bottom: 130px;
  background-color: #232d3f;
  color: white;
  
}

.Home_name {
  flex: 0.5;
  max-width: 500px;
  padding-left: 10%; /* Add some spacing between text and image */
  text-align: justify;
}

.Home_name > h2 {
  color: aqua;
  text-align: justify; /* Align h2 with justify */
}

.profile {
  flex: 0.5;
  max-width: 500px;
  padding-right: -10%;
  text-align: center; /* Align the image to the center */
}

.profile_img {
  width: 60%; /* Adjust width of image */
  height: auto;
  border-radius: 50%;
  transition: transform 0.2s ease; /* Transition effect */
}

/* Hover effect */
.profile_img:hover {
  transform: scale(1.1); /* Scale up the image on hover */
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.5);

}

/* Styling for text */
.Home_name > h1 {
  font-size: 36px;
  margin: 0;
}

.Home_name > h2 {
  font-size: 24px;
  margin: 0;
}

.Home_name p {
  font-size: 18px;
  margin: 10px 0;
}
