


.Home_main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px; /* Add padding to center everything */
    background-color: #14343e;
    color: white;
  }
  
  .Home_name {
    padding: 20px; /* Add padding to name container */
    text-align: center; /* Center-align text */
  }
  
  .profile {
    padding: 20px; /* Add padding to profile container */
  }
  
  .profile_img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid green;
    box-shadow: 0 0 10px green;
  }
  
