.skill_heading{
    text-align: center; /* Center-align the text */
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
    width: 100%; /* Ensure the header spans the full width */
    color: aliceblue;
    font-size: 1.5rem;
    padding-top: 50px;
    
}

.full_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 110px 0;
}

.skillset_front{
    flex: 0.5;
    color: white;
    text-align: left;
    max-width: 500px; /*right left side width*/
    margin-right: 100px;
}

.skillset_Back{
    flex: 0.5;
    color: white;
    text-align: left;
    max-width: 500px;
}

.progress_bar .MuiLinearProgress-root{
    background-color: gray;
    border-radius: 5px;
    height: 8px;
}

.skill_item > h5{
    padding: 10px;
}

 .skillset_front{
    background-color: black;
    padding: 20px;
 }

 .skill_item:hover,
 .skill_item:hover .progress_bar {
   background-color: #181616;
   box-shadow: 0 0 30px rgba(0, 255, 255, 0.5);

 }

 .skill_item,
.progress_bar {
  transition: background-color 0.5s ease; 
}
.skill_item {
    margin-bottom: 20px; /* Adjust spacing between skill items */
    padding-top: -8px; /* Normal padding top */
    padding-bottom: 10px; /* Normal padding bottom */
    padding-left: 5px;
    padding-right: 5px;
  }

  .skillset_front {
    padding: 20px; /* Add padding for spacing */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.5); /* Add neon light effect with box-shadow */
  }
  .skillset_front > h2{
    padding-bottom: 10px;
  }
  
 /* css for backend styling */
 .skillset_Back{
    background-color: black;
    padding: 20px;
 }

 .skillset_Back {
    padding: 20px; /* Add padding for spacing */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.5); /* Add neon light effect with box-shadow */
  }

  .skillset_Back > h2{
    padding-bottom: 15px;
  }